
    <div class="row">
      <div class="col"> 
        <div class="bg-light text-center p-3">
          <i class="fa fa-bar-chart"></i>
          Korona virus bo`yicha statistika
        </div>
      </div>
    </div>
  
    <div class="row"> 
      <div class="col">
        <p class="text-secondary text-center">Qayta yuklangan vaqti: {{ updateTime | date: 'medium'}}</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col text-center">
        <h2>Jami tasdiqlanganlar: </h2>
        <h1 class="text-warning">
          {{ totalCase | number }}
        </h1>
        <h2>Vofot etganlar: </h2>
        <h1 class="text-danger">
          {{totalDeath | number}}
        </h1>
        <h2>Tuzalganlar: </h2>
        <h1 class="text-success">
          {{totalRecovered | number}}
        </h1>
      </div>
    </div>
