<!-- Search -->
<div class="input-group mb-3">
  <input [(ngModel)]="keyword"
  (ngModelChange)="onCountryFilter()"
    type="text" 
    class="form-control" 
    placeholder="Davlatni nomini kiriting">
</div>

<div class="bg-light text-center">
    <h3>Covid19 Dashboard</h3>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-border table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Davlat</th>
            <th scope="col">Umumiy</th>
            <th scope="col">Yangi</th>
            <th scope="col">Umumiy vafot etganlar</th>
            <th scope="col">Yangi vafot etganlar</th>
            <th scope="col">Activ holatlar</th>
            <th scope="col">Umumiy tuzalganlar</th>
            <th scope="col">Jiddiy holatlar</th>
            <th scope="col">Umumiy / 1M aholi</th>
            <th scope="col">Vafot etganlar / 1M aholi</th>
            <th scope="col">Umumiy testlar</th>
            <th scope="col">Umumiy testlar / 1M aholi</th>
            <th scope="col">Aholi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let countryStatistic of countryStatistics; let i = index" [ngClass]="{'bg-success text-light': countryStatistic.active === 0}">
            <td scope="row">{{i+1}}</td>
            <td scope="col">
              <a routerLink="/country/{{countryStatistic.countryInfo.iso3}}">{{countryStatistic.country }}</a>
            </td>
            <td scope="col">{{countryStatistic.cases | number}}</td>
            <td scope="col" [ngClass]="{'bg-warning': countryStatistics.todayCases > 0 }">
              {{countryStatistic.todayCases > 0 ? ('+' + countryStatistic.todayCases) : ""}}
            </td>
            <td scope="col">{{countryStatistic.deaths | number}}</td>
            <td scope="col" [ngClass]="{'bg-danger text-light': countryStatistic.todayDeaths > 0}">
              {{
                countryStatistic.todayDeaths > 0 ? ('+' + countryStatistic.todayDeaths) : ''
              }}
            </td>
            <td scope="col">{{countryStatistic.active | number}}</td>
            <td scope="col">{{countryStatistic.recovered | number}}</td>
            <td scope="col">{{countryStatistic.critical | number}}</td>
            <td scope="col">{{countryStatistic.casesPerOneMillion | number}}</td>
            <td scope="col">{{countryStatistic.deathsPerOneMillion | number}}</td>
            <td scope="col">{{countryStatistic.tests | number}}</td>
            <td scope="col">{{countryStatistic.oneTestPerPeople | number}}</td>
            <td scope="col" class="text-info">{{countryStatistic.population | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

